.neuralAnimation {
    background: linear-gradient(312deg, #3a3a3a 0%, #1a1a1a 50%, #2e2e2e 70%, #1a1a1a 100%);
    background-size: 300% 300%;
    animation: gradientAnimation 20s ease infinite;
}
.formContainer{
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    position: relative;
    overflow: hidden;
}
.inputContainer{
    background: rgba(105, 77, 248, 0.3);
    border-radius: 8px;
}

/* Submit Button */
.submitButton {
    width: 100%;
    padding: 0.5rem;
    font-weight: bold;
    color: #fff;
    background: #694DF8;
    border-radius: 0.375rem;
    transition: background-color 0.3s, box-shadow 0.3s;
    animation: pulse 2s infinite;
}

.submitButton:hover {
    background-color: #6F60C0;
}
.image {
    animation: float 4s ease-in-out infinite;
    transform: scaleX(-1);
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(147, 112, 219, 0.4);
    }
    70% {
        box-shadow: 0 0 20px 20px rgba(147, 112, 219, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(147, 112, 219, 0);
    }
}



@keyframes float {
    0% {
        transform: translateY(0) scaleX(-1);
    }
    50% {
        transform: translateY(-10px) scaleX(-1);
    }
    100% {
        transform: translateY(0) scaleX(-1);
    }
}



