
.timelineContainer {
    position: relative;
    width: 100%;

}

.timeline {
    position: absolute;
    width: 2px;
    background-color: #333333;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;

}

.cardExperienceContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    position: relative;
    margin: 40px 0;
}

.cardExperienceContainer.left {
    justify-content: flex-start;
}

.card {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    width: 40%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: #694DF8;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 768px) {
    .timelineContainer {
        position: initial;

        flex-direction: column;
        align-items: center;
        padding: 10px;

    }

    .timeline {
        position: absolute;
        width: 2px;
        background-color: #333333;
        top: 25px;
        bottom: 330px;
        left: 33px;
        margin-left: -1px;
    }

    .cardExperienceContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .card {
        width: 80%; /* Reduz a largura do card */
    }

    .circle {
        position: static;
        transform: none;
        margin-bottom: 20px; /* Adiciona espaço entre o círculo e o card */
    }

    .cardExperienceContainer.left .circle {
        margin-bottom: 0; /* Remove espaço extra entre o círculo e o card quando na posição à esquerda */
    }
}
@media (max-width: 500px){
    .timeline {
        display: none;
    }
}