.container {
    position: relative;
    width: 100%;
    min-height: 100vh; /* Garante que o gradiente cubra toda a tela */
    background: linear-gradient(to bottom, #000000, #111111, #4a4e69,#4a4e69);
    overflow: hidden;
}

.starsContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.star {
    position: absolute;
    width: 4px; /* Tamanho aumentado das estrelas */
    height: 4px; /* Tamanho aumentado das estrelas */
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
}

.star1 {
    top: 10%;
    left: 20%;
}

.star2 {
    top: 50%;
    left: 70%;
}

.star3 {
    top: 80%;
    left: 40%;
}

.star4 {
    top: 30%;
    left: 90%;
}

.star5 {
    top: 25%;
    left: 50%;
}

.star6 {
    top: 70%;
    left: 15%;
}

.star7 {
    top: 85%;
    left: 85%;
}

.star8 {
    top: 60%;
    left: 30%;
}

.star9 {
    top: 40%;
    left: 65%;
}

.comet {
    position: absolute;
    width: 6px; /* Tamanho maior para o cometa */
    height: 6px; /* Tamanho maior para o cometa */
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: cometMove linear infinite;
}

.comet1 {
    top: -10%;
    left: 10%;
    animation-duration: 4s;
}

.comet2 {
    top: -10%;
    left: 50%;
    animation-duration: 3s;
}

.comet3 {
    top: -10%;
    left: 90%;
    animation-duration: 5s;
}

@keyframes cometMove {
    from {
        transform: translate(0, -50vh) rotate(45deg); /* Começa fora da tela e rotacionado */
    }
    to {
        transform: translate(100vw, 100vh) rotate(45deg); /* Move diagonalmente para baixo direita */
    }
}

.content {
    position: relative;
    z-index: 1;
    padding: 1rem;
}
