
.CardContainer {
    padding: 32px;
    margin: 10px;
    background-color: #1a1a1a;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
    flex: 1;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.CardContainer:hover {
    transform: scale(1.05);
}

.CardImageContent {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #694DF8;
}

.CardImage {
    height: 35px;
    margin-bottom: 10px;
}

.cardTitleContainer {
    height: 2.5rem /* 40px */;
    margin-top: 1rem /* 16px */;
    margin-bottom: 1rem /* 16px */;
}

.CardTitle {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: #694DF8;
}

.CardTools h3 {
    text-align: center;
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
    font-weight: 700;
}

.cardToolsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.375rem /* 6px */;
    margin-top: 1rem /* 16px */;
    margin-bottom: 1rem /* 16px */;
}

.CardLanguages, .CardTools {
    margin-top: 10px;
}

.textGradient {
    background: linear-gradient(to right, #5c528e, #b3a7ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cardDescription {
    height: 7rem /* 112px */;
    margin-bottom: 1rem /* 16px */;
    padding: 0.5rem /* 8px */;
    text-align: center;
}

.CardLanguagesContainer {
    height: 6rem /* 96px */;
}

.CardLanguagesContainer h3 {
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
    font-weight: 700;
    text-align: center;
}

.CardLanguagesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.375rem /* 6px */;
    margin-top: 1rem /* 16px */;
    margin-bottom: 1rem /* 16px */
}

/* Estilo para telas maiores */

@media(max-width: 448px){
    .CardContainer {
        padding: 20px;
        min-width: 320px;
    }

    .CardContainer:hover {
        transform: none;
    }

}
/*@media (max-width: 1024px) {*/
/*    .CardContainer {*/
/*        padding: 10px;*/
/*        !*flex: 1 1 400px;*!*/
/*        border: 2px solid red;*/
/*    }*/

/*    .cardImageContainer {*/
/*        border: 2px solid #66ff00;*/
/*        flex: 1;*/

/*    }*/

/*    .CardImageContent {*/
/*        height: 50px;*/
/*        width: 50px;*/


/*    }*/

/*    .CardImage {*/
/*        height: 35px;*/
/*        margin-bottom: 10px;*/
/*    }*/

/*    .cardTitleContainer {*/
/*        height: max-content;*/
/*        margin-top: 1rem !* 16px *!;*/
/*        margin-bottom: 1rem !* 16px *!;*/
/*    }*/

/*    .cardDescription {*/
/*        !*height: 7rem !* 112px *!;*!*/
/*        margin-bottom: 1rem !* 16px *!;*/
/*        padding: 0.5rem !* 8px *!;*/
/*        border: 2px solid #66ff00;*/

/*        flex: 1;*/
/*    }*/

/*    .CardLanguagesContainer,*/
/*    .CardTools{*/
/*        flex: 1;*/
/*        border: 2px solid #66ff00;*/

/*    }*/


/*    .CardTitle {*/
/*        font-size: 1.1rem;*/
/*        font-weight: 600;*/

/*    }*/

/*    .CardTools h3 {*/
/*        font-size: 0.90rem;*/
/*        font-weight: 600;*/
/*    }*/
/*}*/
