@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html {
    scroll-behavior: smooth;
}

body{
    background: #000;
}
/* global.css ou outro arquivo CSS global */
.no-scroll {
    overflow: hidden;
}

