
.timeline-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}


.cardExperienceContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    position: relative;
    margin: 40px 0;
}

.cardExperienceContainer.left {
    justify-content: flex-start;
}

.card {
    padding: 20px;
    background: #333333;
    border-radius: 8px;
    width: 40%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: #3e27b3;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 768px) {
    .cardExperienceContainer {
        display: flex;
        justify-content: flex-end;
        align-items: initial;
        width: 100%;
        position: relative;
        margin: 20px 0;
        padding: 10px;
    }

    .card {
        background: #111;
        width: 90%;
        position: relative;
    }

    .circle {
        width: 40px;
        height: 40px;
        background-color: #3e27b3;
        border-radius: 50%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 30px;
        transform: translateX(-50%);
    }
    .cardExperienceContainer.left {
        justify-content: flex-end;
    }
}