
.ProjectCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    height: 400px;

    margin: 10px;
    background-color: #1a1a1a;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
    /*max-width: 380px;*/
    /*max-width: 400px;*/
    box-sizing: border-box;
    cursor: pointer;
    /*width: 363px;*/
    /*width: 100%;*/

}
.ProjectCardContainer:hover{
    transform: scale(1.05);
}

.ProjectCardImgContainer{
    height: 300px;
}
.ProjectCardImgContainer img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.ProjectCardTitleContainer{
    height: 20px;
    max-height: 100%;
    padding: 10px;
    margin-bottom: 10px;

}
.ProjectCardTechContainer{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*max-height: 100%;*/
    padding: 30px;

}

@media (max-width: 1194px) {
    .ProjectCardContainer {
        width: 340px;

    }

}
@media (max-width: 1124px) {
    .ProjectCardContainer {
        width: 305px;

    }
}

@media (max-width: 1024px) {
    .ProjectCardContainer {
        width: 250px;

    }
}
@media (max-width: 860px) {
    .ProjectCardContainer {
        width: 350px;

    }
}
@media (max-width: 764px) {
    .ProjectCardContainer {
        width: 270px;

    }
}
@media (max-width: 600px) {
    .ProjectCardContainer {
        width: 90vw;
    }
}


/*@media (max-width: 1250px) {*/
/*    .ProjectCardContainer {*/
/*        !*min-width: 355px;*!*/

/*    }*/
/*}*/

/*@media (max-width: 1024px) {*/

/*    min-width: 300px;*/
/*}*/