
.ProjectCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    height: 400px;

    margin: 10px;
    background-color: #1a1a1a;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
    flex: 1 1 350px;
    max-width: 350px;
    box-sizing: border-box;
    cursor: pointer;
}
.ProjectCardContainer:hover{
    transform: scale(1.05);
}

.ProjectCardImgContainer{
    height: 300px;
}
.ProjectCardImgContainer img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.ProjectCardTitleContainer{
    height: 20px;
    max-height: 100%;
    padding: 10px;
    margin-bottom: 10px;

}
.ProjectCardTechContainer{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*max-height: 100%;*/

    padding: 30px;

}

@media (max-width: 1250px) {
    .ProjectCardContainer {
        /*min-width: 355px;*/

    }
}

@media (max-width: 1024px) {

    min-width: 300px;
}